@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flashes h4 {
    line-height: 2;
}

/*------------------------------------------------navbar*/

nav ul li a {
    font-size: 1.2rem;
}

/*------------------------------------------------footer*/
.page-footer {
    padding-top: 0px !important;
}

.page-footer .row {
    margin-bottom: 0px !important;
}
.page-footer li {
    display: inline;
    margin: 15px;
}

.page-footer li a i {
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

/*------------------------------------------------cards*/

.welcome {
   padding-top: 5px;
}

.welcome p {
    font-size: 1rem;
}

.card-content p {
    font-family: "Roboto Slab", sans-serif !important;
}

.card .card-image-main img {
    height: 350px !important;
    object-fit: cover;
    width: 100% !important;
    overflow: hidden;
}

.card .card-image img {
    height: 565px;
    overflow: hidden;
    object-fit: cover;
    width: 100% !important;
}

.card .section {
    padding: 0px;
}

.card-content-main .section p {
    font-size: 1rem;
    color: #000;
}

.card-content-main .section .fas {
    color: #000;
}

/*------------------------------------------------hero image*/
.hero-home {
    background-image: url(https://i.ibb.co/YBYM7rp/pexels-sanketh-rao-716107.jpg);
    background-position: center;
}

.hero-image {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*------------------------------------------------dividers*/
.row .col .card .card-content .divider {
    background-color: #004d40;
}

/*------------------------------------------------buttons*/
.back-button-container {
    margin-top: 10px;;
}

.row .view-button {
    padding-top: 10px;
}


/*------------------------------------------------media query*/
@media (min-width: 992px){
    .brand-logo {
        margin-left: 3rem;
    }
}