{% extends "base.html" %}
{% block content %}

    <!--Hero Image-->
    <div class="row">
        <div class="col s12 hero-image hero-home"></div>
    </div>

    <!--welcome note-->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel teal lighten-5 welcome">
               <h4 class="center-align orange-text text-darken-4">
                   Welcome to Bazaar 
               </h4>
               <p class="center-align">
                   A place to Buy and Sell second hand goods, Search what you want and <br>
                   <em>One man's trash is another Man's treasure!</em>
               </p>
            </div>
        </div>
    </div>

    <!--search bar-->

    <!--ad card-->
    <div class="container">
        <div class="row">
            {% for ad in ads %}
                <div class="col s12 m6 l3">
                    <div class="card teal lighten-5">
                        <div class="card-image activator">
                            <img class="responsive-img" src="{{ ad.photo_url }}" alt="Item Photo">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator orange-text text-darken-4">{{ ad.ad_title }}<i
                                    class="fas fa-ellipsis-v right"></i></span>
                            <div class="divider"></div>
                            <div class="section">
                                <p><i class="fas fa-folder-open prefix">{{ ad.ad_description }}</i></p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <p><i class="fas fa-tag prefix">{{ ad.price }}</i></p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                {% if ad.is_available == "on" %}
                                    <i class="fas fa-shopping-cart tooltipped"
                                        data-position="right" data-tooltip="Available"></i>
                                {% else %}
                                     <i class="fas fa-shopping-cart tooltipped"
                                        data-position="right" data-tooltip="SOLD!"></i>
                                {% endif %}
                            </div>
                        </div>
                        <!--view button-->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
