{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Post Ad</h3>

    <div class="container">
        <div class="row">
            <form class="col s12" method="POST" action="">
                <!--category-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix teal-text text-darken-4"></i>
                        <select name="category_name" id="category_name" class="validate" required>
                            <option value=""></option>
                        </select>
                        <label for="category_name">Category</label>
                    </div>
                </div>
                <!--photo-->
                <div class="row">
                    <div class="input-field col s12">
                        <i id="photo-icon" class="fas fa-image prefix teal-text text-darken-4"></i>
                        <input id="photo_url" name="photo_url" type="text" pattern="http://.*" class="validate" required>
                        <label for="photo_url">Please add photo URL</label>
                    </div>
                </div>
                <!--title-->
                <div class="row">
                    <div class="input-field">
                        <i class="fas fa-pencil-alt prefix teal-text text-darken-4"></i>
                        <input id="ad_title" name="ad_title" minlength="5"
                        maxlength="15" type="text" class="validate" required>
                        <label for="ad_title">Title</label>
                    </div>
                </div>
                <!--description-->
                <div class="row">
                    <div class="input-field">
                        <i class="fas fa-align-left prefix teal-text text-darken-4"></i>
                        <textarea id="ad_description" name="ad_description" minlength="5"
                        maxlength="100" class="materialize-textarea validate" required></textarea>
                        <label for="ad_description">Description</label>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}